<% content_for :head do %>
  <%= stylesheet_link_tag "hitchike_index" %>
  <%= ajaxful_rating_style %>
<% end %>

<% content_for :buttons do %>
    <li class="lbt"><%= button_to 'Home', root_path, method: "get" %></li>
<% end %>

<div id="barra"> 

    <div id="sort">
    <%= form_tag(search_hitchikes_path, :method=> "get") do %>
    <div id="sorttext">
        <p> <%= label_tag(:ord, "Ordenar por:") %>
            <%= select_tag(:ord, options_for_select( [['Data', 'd'], ['Preço', 'p']] )) %>
        </p>
        <p> <%= submit_tag("Ordenar") %> </p>
    <% end %>
    <%= form_tag(new_hitchike_request_path, :method => :get) do %>
        <%= hidden_field_tag 'p', params["p"] %>
        <%= hidden_field_tag 'q', params["q"] %>
        <%= hidden_field_tag 'dt', params["dt"] %>
        <br/> <p> <%= submit_tag "Pedir Boleia" %> </p>
    <% end %>
    </div>
    </div>

    <div id="cage">
        
        <% @hitchikes.each do |hitchike| %>
        
        <%= link_to hitchike do %>
        <a href="javascript:void(0)" onclick="showRoute('<%= hitchike.source %>', '<%= hitchike.destination %>');">
        <div class="results"> 
            <div class="info">
                <img class="foto" src="<%= hitchike.user.profile_image %>" </img>
                <p> <%= hitchike.user.name %> </p>  
                <p> <%= ratings_for hitchike.user, :static, :small => true, :dimension => :avaliacaogeral %> </p>
            </div>
            
            <div class="texto">
                <p> De <%= hitchike.source %> para <%= hitchike.destination %> </p>
                <p> Data: <%= hitchike.departure.to_s(:short) %> </p>
                <p> Lugares livres: <%= hitchike.free_seats %> / <%= hitchike.seats %> </p>
                <p> Preço: <%= number_to_currency(hitchike.price , :unit => "€") %> </p>
                <p> Bagagem: <%= hitchike.luggage %> </p>
                <p> Observações: <%= hitchike.notes %></p>
                <p> <%= button_to "Ver detalhes", hitchike, :method=>"get" %> </p>
            </div>

        </div> 
        <% end %>
        </a>

        <% end %>

    </div>

</div>


<script type="text/javascript">

function showRoute(origin, destination) {
    Gmaps.map.initialize();
    Gmaps.map.direction_conf.origin = origin;
    Gmaps.map.direction_conf.destination = destination;
    Gmaps.map.create_direction();
    //showCircle();
};



// nao e preciso por agora
function showCircle() {
<% if not @circles.empty? %>
    Gmaps.map.circles = <%=raw @circles["circles"]["data"] %>;
    Gmaps.map.create_circles();
<% end %>
};


 
 </script>

<!--%= gmaps({
       "direction"   => { "data" => { "from" => Hitchike.first.source, "to" => Hitchike.first.destination } }
            })
 %-->

<%= gmaps( {"markers" => {"data" => @markers}}.merge( @circles ) )
%>

<!-- %= gmaps4rails(@json) % -->


<!-- https://github.com/apneadiving/Google-Maps-for-Rails/wiki/%28Multiple%29-Maps -->