<% content_for :head do %>
  <%= stylesheet_link_tag "hitchike_my" %>
  <%= ajaxful_rating_style %>
<% end %>

<div class="container">

        <a href="/"><img id="logo" src="/assets/logo_carro2.png" class="logo"/></a>

        <div id="esq"> 
          <img class="foto" src="<%= current_user.profile_image %>" </img>
          <p> <%= current_user.name %> </p>
        </div>

        <div id="dir"> <h1> As minhas boleias </h1>
            
          <% @hitchikes.each do |hitchike| %>
            <%= link_to(hitchike) do %>
              <div class="resultado">
                  <p id="editar"> <input type="button" value="Editar" /> </p>
                  <p> <b> Partida: </b> <%= hitchike.source %> </p>
                  <p> <b> Destino: </b> <%= hitchike.destination %> </p>
                  <p> <b> Data: </b> <%= hitchike.departure.to_s(:short) %> </p>
                  <p> <b> Lugares totais: </b> <%= hitchike.seats %> </p>
                  <p> <b> Lugares livres: </b> <%= hitchike.free_seats %> </p>
                  <p> <b> Preço: </b> <%= number_to_currency(hitchike.price , :unit => "€") %> </p>
                  <p> <b> Bagagem: </b> <%= hitchike.luggage %> </p>
                  <p> <b> Observações </b> <%= hitchike.notes %> </p>
              </div>
            <% end %>
          <% end %>

          <!--p id="antigas">
          <button class="btn" type="button"> Boleias Antigas</button>
          </p>

          <p id="Conc">
          <button class="btn" type="button"> Concorrência</button>
          </p-->

        </div>
        <%= render "layouts/footer" %>


</div>


