<h1> Nova boleia </h1>

<%= form_for(@hitchike) do |f| %>

<p>
    <%= f.label :source %>
    <%= f.text_field :source %>
</p>
<p>
    <%= f.label :destination %>
    <%= f.text_field :destination %>
</p>
<p>
    <%= f.label :departure %>
    <%= f.text_field :departure %>
</p>
<p>
    <%= f.label :seats %>
    <%= f.number_field :seats %>
</p>
<p>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
</p>


<%= f.submit %>
<% end %>