<% content_for :head do %>
  <%= stylesheet_link_tag "hitchike_noresults" %>
<% end %>

<div class="container"> 

 <a href="/"><img id="logo" src="/assets/logo_carro2.png" class="logo"/></a>

    <% unless @hide %>
	<h1> Nenhum resultado encontrado!</h1>
	<% end %>

    <h2> Faça o seu pedido de boleia </h2>
    <%= form_tag(root_path, :method=> "get") do %>
    <div class="inserir"> <p id="submeter"> <%= submit_tag "Submeter", :class=>"btn" %> </p> 
			<p> <%= label_tag(:p, "De") %>
    		<%= text_field_tag(:p, params[:p], :class => "caixa_texto") %> </br> </br>
    	</p>
    	<p> <%= label_tag(:q, "Para") %>
        <%= text_field_tag(:q, params[:q], :class => "caixa_texto") %> </br> </br>
    	</p>
      <p><%= label_tag(:q, "Data") %>
        <%= text_field_tag(:dt, params[:dt], :type => "date", :class => "caixa_texto") %> </br> </br>
      </p> 
 			<p><%= label_tag(:q, "Obervações") %>
 				<%= text_field_tag(:ob, "", :class => "caixa_texto") %> 
 			</p>
    </div>
	<% end %>
  <%= render "layouts/footer" %>
  
</div>


