<% content_for :head do %>
  <%= stylesheet_link_tag "hitchike_show" %>
<% end %>

<div class="container">

  <a href="/"><img class="logo" src="/assets/logo_carro2.png" /></a>
  <div id="reserva">
  


  </div>


     <div id="esq">

          <div class="results"> 

            <div class="texto">
              <p> <b> Partida: </b> <%= @hitchike.source %> </p>
              <p> <b> Destino: </b> <%= @hitchike.destination %> </p>
              <p> <b> Data: </b> <%= @hitchike.departure.to_s(:short) %> </p>
              <p> <b> Lugares livres: </b> <%= @hitchike.free_seats %> / <%= @hitchike.seats %> </p>
              <p> <b> Preço: </b> <%= number_to_currency(@hitchike.price , :unit => "€") %> </p>
              <p> <b> Bagagem: </b> <%= @hitchike.luggage %> </p>
              <p> <b> Observações: </b> <%= @hitchike.notes %> </p>
            </div>
            <div class="info condutor">
              <a href="<%= @hitchike.user.fb_page %>" target="_blank">
                <p> Condutor </p> <!-- pode nao ser o condutor -->
                <img class="foto" src="<%= @hitchike.user.profile_image %>" </img>
                <p> <%= @hitchike.user.name %> </p>
              </a>
              <p> <%= ratings_for @hitchike.user, :static, :small => true, :dimension => :avaliacaogeral %> </p>
            </div>
       <% unless current_user.nil? %>
    <% if @hitchike.is_old %>
      <%= button_to "Já foi", "#", :disabled => "disabled", :id => "reservar" %>
    <% elsif @hitchike.user == current_user %>
      <%= button_to "Editar boleia", @hitchike, :method => "get", :id => "reservar"%>
    <% elsif current_user.reserved_hitchike? @hitchike %>
      <%= button_to "Anular reserva", [@hitchike, current_user.find_reservation(@hitchike)], :method => "delete", :id => "reservar" %>
    <% elsif @hitchike.free_seats <= 0 %>
      <%= button_to "Sem lugares", "#", :disabled => "disabled", :id => "reservar" %>
    <% else %>
      <%= form_for [@hitchike, Reservation.new(:hitchike_id => @hitchike.id)] do |f| %>
        <%= f.submit "Reservar lugar", :id => "reservar" %>
      <% end %>
    <% end %>
  <% end %>


          </div>
     
          <div id="fotos"> <h3>Passageiros</h3>
              <% @hitchike.reservations.each do |reservation| %>
                <div class="info">
                  <a href="<%= reservation.user.fb_page %>" target="_blank">
                    <img class="foto" src="<%= reservation.user.profile_image %>" </img>
                    <p> <%= reservation.user.name %> </p>
                  </a>
                </div>
              <% end %>
          </div>
          <div id="butoes">
            <%= button_to_function "Voltar", "history.back()", :id => "voltar" %>
          </div>
     </div>

     <div id="dir">

          <%= gmaps({
       "direction"   => { "data" => { "from" => @hitchike.source, "to" => @hitchike.destination } }
            })
 %>
          <!--div id="chat"> <h3> Deixe aqui a sua mensagem</h3></div-->

     </div>

     <%= render "layouts/footer" %>
</div>

