<% content_for :head do %>
  <%= stylesheet_link_tag "static_pages_about" %>
<% end %>


<center><div class="container">

<a href="/"><img align="left" src="/assets/logo_carro2.png" id="logo" class="logo"/></a>

      <h1 align="center">

      Sobre nós

    </h1>
 
        <p>
   Tendo em conta o contexto socio-económico actual, viajar de forma rápida, confortável e barata é cada vez mais difícil... </p>


        <p>
  
   No entanto este não é um problema para quem opta por andar de boleia! As boleias combinam o melhor dos três mundos: viajar confortavelmente, de forma rápida e barata.
 </p>

        <p>

   Esta é a página oficial do projeto 'Share it!', um projecto criado por estudantes da Universidade de Coimbra que tem como objetivo melhorar a mobilidade nacional, apostando na construção de uma aplicação para o Facebook através da qual os utilizadores partilham de forma fácil e segura as suas boleias por todo o país!</p>

   

            </br> </br> </br> </br> </br> </br> </br> </br> </br> 
      <%= render "layouts/footer" %>
 
   

</div></center>

