<% content_for :head do %>
  <%= stylesheet_link_tag "static_pages_contact" %>
<% end %>


  <center><div class="container">

    <a href="/"><img align="left" src="/assets/logo_carro2.png" class="logo" /></a>

      <h1 align="center" >



      Contactos
  


    </h1>
    
        <p>

   Envia as tuas dúvidas/sugestões para:
        </p>
      

  
        <a class="linklogos" href="">
        <img id="logogmail" src="https://dl.dropbox.com/u/81302754/gmail-logo.png"/>
        </a>

        <a href="">
        <h2>
  
   com.share.it@gmail.com
        </h2>
        </a>
 
     


        <p>
        </br>

   Ou visita a nossa página de divulgação no Facebook:
        </p>
 
        <a class="linklogos" href="">
        <img id="logofb" src="https://dl.dropbox.com/u/81302754/facebook_logo.png"/>
        </a>

       

      <a href="">
        <h2>

   www.facebook.com/COM.Share.it
        </h2>
      </a>
     

<%= render "layouts/footer" %>
 

</div>
</center>
