<% content_for :head do %>
  <%= stylesheet_link_tag "static_pages_home" %>
<% end %>

  <center>
  <div class="container" align="center">

  <a href="/"><img id="logo" class="logo" align="left" style="clear:both" src="/assets/logo_carro2.png" /></a>

  <p id="boleia">
    <%= ["Ainda não andas de boleia?",
        "Boleia! Porque não?",
        "Vai uma boleia?",
        "Entra na onda e vai de boleia..."].sample %>
  </p>

  <div class="bolas">
    <a href="#" onclick="javascript:showProcuro()">
      <p id="procuro" class="bola">Procuro</p>
    </a>
    <a href="#" onclick="javascript:showOfereco()">
      <p id="ofereco" class="bola">Ofereço</p>
    </a>
  </div>

  <ul class="submenu" id="procuro_menu">
    <%= form_tag(search_hitchikes_path, :method=> "get") do %>
      <li> <%= label_tag(:p, "Partida") %>
          <%= text_field_tag(:p, params[:p], :class => "caixa_texto") %> </li>
      <li> <%= label_tag(:q, "Destino") %>
          <%= text_field_tag(:q, params[:q], :class => "caixa_texto") %> </li>
      <li> <%= label_tag(:d, "...num raio (Km)") %>
         <%= number_field_tag(:d, params[:d], :min => 0, :class => "caixa_texto") %> </li>
      <li> <%= label_tag(:q, "Data") %>
          <%= text_field_tag(:dt, params[:dt], :type => "date", :class => "caixa_texto") %> </li>
      <%= submit_tag "Pesquisar", :class=>"butoes_formulario" %>
    <% end %>
  </ul>
  
  <ul class="submenu" id="ofereco_menu">
    <%= form_for(@hitchike) do |f| %>
    <li> <%= f.label :source, "Partida" %> <%= f.text_field :source, :size => "20", :class => "caixa_texto" %> </li>
    <li> <%= f.label :destination, "Destino" %> <%= f.text_field :destination, :size => "20", :class => "caixa_texto" %> </li>
    <li> <%= f.label :departure, "Data" %> <%= f.text_field :departure, :size => "20", :class => "caixa_texto" %> </li>
    <li> <%= f.label :seats, "Lugares" %> <%= f.number_field :seats, :size => "20", :class => "caixa_texto", :min => 1 %> </li>
    <li> <%= f.label :price, "Preço" %> <%= f.text_field :price, :size => "20", :class => "caixa_texto" %> </li>
    <li> <%= f.label :luggage, "Bagagem" %> <%= f.select :luggage, ['Sim', 'Não'], {}, {:id => "bagagem", :class => "caixa_texto"} %> </li>
    <li> <%= f.label :notes, "Observ." %> <%= f.text_field :notes, :size => "20", :class => "caixa_texto" %> </li>
    <%= f.submit "Criar", :class=>"butoes_formulario" %>
    <% end %>
    <li><%= button_to "Ver pedidos de boleia", hitchike_requests_path, method: "get" %></li>
  </ul>

  <%= render "layouts/footer" %>

  </div>
  </center>

<script> 
 
 function showProcuro() {
  var procuro = document.getElementById("procuro_menu");
  var ofereco = document.getElementById("ofereco_menu");

  if (procuro.style.display == "none" || procuro.style.display == "") {
    procuro.style.display = "block";
    ofereco.style.display = "none";
  } else {
    procuro.style.display = "none";
  }
 }

  function showOfereco() {
  var procuro = document.getElementById("procuro_menu");
  var ofereco = document.getElementById("ofereco_menu");

  if (ofereco.style.display == "none" || ofereco.style.display == "") {
    ofereco.style.display = "block";
    procuro.style.display = "none";
  } else {
    ofereco.style.display = "none";
  }
 }

</script>



