<% content_for :head do %>
  <%= stylesheet_link_tag "static_pages_terms" %>
<% end %>

  <center>
<div class="container">

  <a href="/"><img align="left" src="/assets/logo_carro2.png" id="logo" class="logo"/></a>

      <h1 align="center">Termos de utilização/responsabilidade</h1>

    <p>
   - Todo e qualquer anúncio publicado é da total responsabilidade dos utilizadores. Os administradores desta página não têm qualquer responsabilidade na eventualidade de boleias ou passageiros fictícios.</p>
 
    <p>
   - A real identidade dos utilizadores é da total responsabilidade destes. </p>
 
       
<p>
   - Dispensa-se ainda toda e qualquer responsabilidade em caso de acidente ou danos físicos causados ao condutor e/ou passageiro(s) durante a viagem anunciada.</p>
  
      
<p>
   - Este serviço é apenas para a procura de parceiros de viagem, não tendo qualquer outro tipo de fins. </p>
  
    <p>
   
   - Esta plataforma apenas serve de intermediário para as procuras e não tem qualquer responsabilidade em acordos feitos pelos utilizadores.</p>
  
 <p>
   - A forma como os passageiros e condutores marcam encontros para viagens juntos é da totalidade responsabilidade das partes.</p>
 
  <p>
   - Este serviço é grátis e não intervimos em negociações nos preços das boleias.</p>
  
     <p>
   - Quem submete boleias garante que tem carta de condução válida, veículo com normas legais de segurança e que tem todos os documentos necessários a uma condução segura.</p>


   <%= render "layouts/footer" %>

</center>
