<% content_for :head do %>
  <%= stylesheet_link_tag "hitchike_index" %>
<% end %>

<% content_for :buttons do %>
    <li class="lbt"><%= button_to 'Home', root_path, method: "get" %></li>
<% end %>

<div id="barra"> 

    <div id="sort">

    </div>

    <div id="cage">
        
        <% @hitchike_requests.each do |request| %>
        
        <div class="results"> 
            <div class="info">
                <img class="foto" src="<%= request.user.profile_image %>" </img>
                <p> <%= request.user.name %> </p>  
            </div>
            
            <div class="texto">
                <p> De <%= request.source %> para <%= request.destination %> </p>
                <% unless request.departure.nil? %>
                    <p> Data: <%= request.departure.to_date.to_s(:short) %> </p>
                <% end %>
                <p> Observações: <%= request.notes %></p>
            </div>

        </div> 

        <% end %>

    </div>

</div>
