<% content_for :head do %>
  <%= stylesheet_link_tag "hitchike_noresults" %>
<% end %>

<div class="container"> 
  
  <a href="/"><img id="logo" src="/assets/logo_carro2.png" class="logo"/></a>

    <% if @noresults %>
    <h1> Nenhum resultado encontrado!</h1>
    <% end %>

    <h2> Faça o seu pedido de boleia </h2>

    <div class="inserir">
      <%= form_for(@hitchike_request) do |f| %>
        <p>
            <%= f.label :source, "De" %>
            <%= f.text_field :source, :class => "caixa_texto" %>
        </p>
        <p>
            <%= f.label :destination, "Para" %>
            <%= f.text_field :destination, :class => "caixa_texto" %>
        </p>
        <p>
            <%= f.label :departure, "Data" %>
            <%= f.text_field :departure, :class => "caixa_texto", :type => "date"%>
        </p>
        <p>
            <%= f.label :notes, "Observações" %>
            <%= f.text_field :notes, :class => "caixa_texto" %>
        </p>
        <p id="submeter"> <%= f.submit("Submeter") %> </p>
      <% end %>
    </div>
  <%= render "layouts/footer" %>
  
</div>


