/*
 * CSS generico de toda a aplicação
 */

html {
    background: -webkit-gradient(linear,left top, left bottom, from(#0072bc),to(#000));
    background: -moz-linear-gradient(top,  #0072bc 0%, #000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0072bc), color-stop(100%,#000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0072bc 0%,#000 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0072bc 0%,#000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0072bc 0%,#000 100%); /* IE10+ */
    height: 100%;
    width: 100%;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

nav li {
    float:right;
}

nav .lbt {
    float:left;
}

nav a {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    /*background-color:#dddddd;*/
    text-decoration: none;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}


#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:10px;   /* Height of the footer */
}

input[type="button"], input[type="submit"]
{
    color:#337799;
    font-family: 'Questrial', Arial, sans-serif;
    font-size: 16px;
    
}

.logo
{
    display: block;
    width: 166px;
    height: 120px;
}

.rodape  {
    
    color: #c2e6ff;
    text-decoration: none;
    font-family: 'Questrial';
    margin-left: 50px;
    margin-right: 50px;
    font-size: 12px;
}

.rodape:hover {
    text-decoration: underline;
}

a {
    text-decoration: none; 
}

#made:hover {
    text-decoration: none;
}

