/*
*= require gmaps4rails
*= require ajaxful_rating
*/

.container {
    width: 980px;
    height: 581px;
    background-color: transparent;
    margin: auto;
    position: relative;
}

.logo {
    float: left;
}

#esq {

    width: 50%;
    float: left;    
    clear: both;
    margin-top: 5px;
}

#dir {
    width: 50%;
    float: right;
    
}

#fotos {
    width: 94%;
    height: 175px;
    background-color: #cccccc;
    margin: auto;
    margin-top:15px;
    margin-bottom: 10px;
    overflow: auto;
}

/*        Botoes                 */
#reservar
{
    float: right;
    margin-right: 25px;
}

#voltar {
    float:left;
}

#butoes {
    margin: auto;
    width: 94%;
    text-align: center;
}

/* ///////////////////////////////*/
.results {
    height: 53.5%;
    width: 94%;
    margin: auto;
    background-color: #337799;
    margin-top:5px;
    overflow: auto;
}

.texto {
    float: left;
    margin-left: 5%;    
}

.info {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 50px;
    text-align: center;
}

.info p {
    margin-top: 0;
    margin-bottom: 0.5em;
    color:  black;
    font-size: 12px;
    line-height: 1em;
    color: #0072BC;
}

.condutor {
    float:  right;
    margin-right: 25px;
    margin-top: 15px;
}

.condutor p {
    color: #c6e2ff;
}

p {
    font-family: 'Questrial';
    color: #c6e2ff;
    margin-bottom: 0.5em;
}

p + p {
    margin-top: 0em;
    
}

.texto {
    width: 280px;
}

h3 {
    text-align: center;
    font-family: 'Questrial';
    color: #337799;
    margin-top: 10px;
}

.map_container {

    width: 480px;
    height: 384px;
    background-color: #cccccc;
    margin: auto;
    margin-top:10px;
    margin-bottom: 10px;
    overflow: auto;
}

#map {
    width: 480px;
    height: 384px;
}

#chat {
    width: 480px;
    height: 150px;
    background-color: #ffffff;
    margin: auto;
    margin-top:10px;
    overflow: auto;

}

.try {
    clear: both;
}

