

img {
    float: left;
    clear: both;
}

.container {

    width: 980px;
    height: 581px;
    background-color: transparent;
    margin: auto;
    position: relative;
}

#esq {
    background-color: #cccccc;
    height: 400px;
    width: 220px;
    float: left;
    clear: both;
    margin-top: 16px;
    margin-left: 55px;
    border-radius: 2%;
}

#dir {
    background-color: #337799; /*#337799*/
    height: 400px; /* 65% */
    width: 650px; /* 60% */
    border-radius: 0.8%; /* 0.8% */
    overflow: auto;
    float: left;
    margin-left: 32px;
    margin-top: 17px;
    

}

.resultado {
    background-color: #cccccc;
    height: 216px; /* 40% */
    width: 490px;/* 560px e antes 760px */
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    margin: auto;
    margin-top: 1.2%;
    overflow: auto;
    /*-webkit-box-flex:1*/
}

h1{
    color: #c6e2ff;
    font-family: 'Questrial';
    font-size: 25px;
    text-align: center;
}


p{
    color:#337799;
    font-family: 'Questrial';
    line-height: 0.5em;

}

#editar{
    float: right;
    margin-top: 175px; /* 26% */
    margin-right: 15px;

}

#antigas {
    float: left;
    margin-left: 15px; /* 15px */
    margin-top:150px;
    color: #c62eff;
    font-family: 'Questrial';
    font-size: 115%;
}

#Conc {
    float: right;
    margin-right: 20px;
    margin-top: 150px;
    color: #c62eff;
    font-family: 'Questrial';
    font-size: 115%;
}

* {
    font-family: 'Questrial';
    color: #337799;
}



