/*
*= require gmaps4rails
*= require ajaxful_rating
*/

body {
	/*background: -webkit-gradient(linear,left top, left bottom, from(#0072bc),to(#000));*/
	/*background-color: #002255;*/
	overflow: hidden;
	height: 100%;
}


.container {
	width: 100%;
	height: 100%;
}

.map_container {

	height: 94%;
	width: 68%;
	background-color: #dddddd;
	float: right;
}

input[type="button"], input[type="submit"]
{
	float: right;
}


#map {
	height: 100%;
	width: 100%;
}

#barra {
	height: 97%;
	width: 30%;
	background-color: #cccccc;
	float: left;
	margin: 2px 2px 2px 2px;
}

#sort {
	width: 94%;
	height: 18%;
	background-color: #157;
	margin: auto;
	margin-top: 10px;
	border-radius: 5%;
}

#sorttext {
	font-family: 'Questrial', 'Arial', sans-serif;
	font-size: 16px;
	padding: 15px;
}

#sorttext label {
	font-size: 16px;
	text-align: left;
}

#sorttext input {
    width: 100%;
    clear: both;
}

#sorttext select {
	width: 100px;
	float:right;
}

#cage {
	height: 80%;
	width: 100%;
	background-color: #cccccc;
	overflow: auto;
}

.results {
	width: 94%;
	margin: auto;
	background-color: #337799;
	margin-top:5px;
	border-radius: 5%;
	overflow: auto;
	display: block;
}

.results:hover {
	background-color: #115577;
}

.info {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	width: 50px;
	text-align: center;
}

.info p {
	margin-top: 0;
	margin-bottom: 0.5em;
}


.texto {
	margin-top: 10px;
	float: left;
	margin-left: 35px;
	width: 60%;
}

.texto p {
	margin-top: 0em;
	margin-bottom: 0.5em;
}

p,a {
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
	color: #c6e2ff;
	text-decoration: none;
}

