
.container {

	width: 980px;
	height: 581px;
	background-color: transparent;
	margin: auto;
	position: relative;
}



h1 {
	font-family: 'Questrial';
	color: #c6e2ff;
	text-align: center;
}

h2 {
	font-family: 'Questrial';
	color: #c6e2ff;
	text-align: center;
}

.inserir {

	height: 250px; /* 250px*/
	width: 500px;  /* 500px*/
	background-color: #0072bc;
	margin: auto;
	border-radius: 5px;
	overflow: auto;
	text-align: right;
}

p {
	font-family: 'Questrial';
	color: #c6e2ff;
	vertical-align: baseline;
	margin-left: 3%;
	margin-right: 12%;
}

#submeter {
	float: right;
	margin-right: 5%;
}


.caixa_texto {
    background-color: transparent;
    border-radius: 2px;
    border: solid 2px #85b1de;
    color: white;
    margin-right: 30px;
}


label {
	margin-right: 15px;
}


