

.container {

    height: 581px;
    width: 980px;
    
    background-color: transparent;
    position: relative;

}


/*img{
    margin-left: 40px;
    margin-top: 15px;   

}
*/
h1 {
    color: #c2e6ff;
    font-family: 'Questrial';
    font-size: 30px;
    clear: left;
}

p {

    color: #c2e6ff;
    font-family: 'Questrial';
    font-size: 15px;
    text-align: justify;
    clear: left;
    margin-left: 80px;
    margin-right: 80px;
    line-height: 1.5em;

}


.rodape  {
    text-decoration: none;  
}

.rodape:hover {
    text-decoration: underline;
}


a {color: #c2e6ff;text-decoration: none; font-family: 'Questrial'; margin-left: 30px; margin-right: 30px; font-size: 12px;}




h2 {

    color:#c6e2ff;
    font-family: "Questrial";
    margin-left: 100px;
    font-size: 30px;    
    text-align: left;
}






#logogmail {
    margin-left:60px;
    margin-top: 5px;
    height: 20px;
    width: 20px;
    float: left;
}

#logofb {
    margin-left:60px;
    margin-top: 5px;
    height: 20px;
    width: 20px;
    float: left;
}

.rodape  {
    text-decoration: none;  
}

.rodape:hover {
    text-decoration: underline;
}


a {color: #c2e6ff;text-decoration: none; font-family: 'Questrial'; margin-left: 50px; margin-right: 50px; font-size: 12px;}