.container {

	height: 581px;
	width: 980px;
	
	background-color: transparent;
	position: relative;

}


/*img{
	margin-left: 40px;
	margin-top: 15px;	

}*/

h1 {
	color: #c2e6ff;
	font-family: 'Questrial';
	font-size: 30px;
	clear: left;
}

p {

	color: #c2e6ff;
	font-family: 'Questrial';
	font-size: 15px;
	text-align: justify;
	clear: left;
	margin-left: 50px;
	margin-right: 50px;
	line-height: 1em;

}


.rodape  {
	text-decoration: none;	
}

.rodape:hover {
	text-decoration: underline;
}


a {color: #c2e6ff;text-decoration: none; font-family: 'Questrial'; margin-left: 50px; margin-right: 50px; font-size: 12px;}

/*a {
	color:#c6e2ff;
	font-size: 12px;
	font-family: 'Questrial',Gisha;
	text-decoration: none;
	margin-left: 100px;
	margin-right: 100px;

}

.rodape:hover {
	text-decoration: underline;
}
*/