
.container {

	height: 581px;
	width: 980px;
	
	background-color: transparent;
	position: relative;

}

h1 {
	color: #c2e6ff;
	font-family: 'Questrial';
	font-size: 30px;
	clear: left;
}

p {

	color: #c2e6ff;
	font-family: 'Questrial';
	font-size: 15px;
	text-align: justify;
	clear: left;
	margin-left: 80px;
	margin-right: 80px;
	line-height: 1.5em;

}


.rodape  {
	text-decoration: none;	
}

.rodape:hover {
	text-decoration: underline;
}


a {color: #c2e6ff;text-decoration: none; font-family: 'Questrial'; margin-left: 50px; margin-right: 50px; font-size: 12px;}
