
.container {
	height: 581px;
	width: 980px;
	position: relative;
}

#boleia {
    font-family: 'Questrial', Gisha, sans-serif;
    font-size: 30px;
    color: #c2e6ff;
    font-weight: bold;
    position: relative;
    clear: both;
}

.bolas {
    width: 60%;
    text-align: center;
}

.bola {
    height: 170px;
    width: 170px;
    border: 5px solid #0072bc;
    border-radius: 100%;
    margin: auto;
    background-color: #c2e6ff;
    color: black;
    font-weight: bold;
    font-family: 'Questrial';
    font-size: 25px;
    line-height: 170px;
}

.bola:hover {
    background-color: transparent;
    color: #C2E6FF;
    color: white;
}

#procuro {
    float: left;
}

#ofereco {
    float: right;
}

.submenu {
    border-radius: 4%;
    background: #0072bc;
    width: 300px;
    padding: 6px 0;
    position: absolute;
    top: 48%;
}

#procuro_menu {
    display: none;
    left: 14%;
}

#ofereco_menu {
    display: none;
    right: 14%;
}
				
.submenu li {
    display:block;
    margin: 4px;
    border: 0;
    text-align: right;
    margin-right: 30px;
}

.submenu li label {
    padding:6px 6px;
    margin:0;
    border:0;
    color: #c6e2ff;
    font-family: 'Questrial', Gisha, sans-serif;
    font-size: 15px;
    text-align: left;
}

.caixa_texto {
    background-color: transparent;
    border-radius: 2px;
    border: solid 2px #85b1de;
    color: white;
}

.butoes_formulario {
    color:#337799;
    font-family: 'Questrial';
    font-size: 16px;
    float: right;
    margin-right: 15px;
}
