<div id="footer" class="try" align="center">

  <center>
    <%= link_to "Home", root_path , :class => "rodape" %>
    <%= link_to "Termos de utilização", terms_path, :class => "rodape"%>
    <%= link_to "Sobre nós", about_path, :class => "rodape"%>
    <%= link_to "Contactos", contact_path, :class => "rodape"%>
    <a class="rodape" id="made">Made in Coimbra</a>
  </center>
  
</div>
