<!DOCTYPE html>
<html>
<head>
  <title>Share It!</title>

  <%= javascript_include_tag :defaults %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <link href='https://fonts.googleapis.com/css?family=Questrial' rel = "stylesheet" type="text/css" ></link>

</head>
<body>

<nav>
<ul>
    <% if signed_in? %>
    <%= yield :buttons %>
    <li><%= button_to 'Logout', destroy_user_session_path, method: "delete" %></li>
    <li><%= button_to "As minhas boleias", my_hitchikes_path, method: "get" %></li>
    <% else %>
    <!--li><%= link_to 'Login', new_user_session_path %></li-->
    <li>
      <%= link_to omniauth_authorize_path(:user, :facebook) do %>
        <img src="/assets/connect_light_medium_long.gif" />
      <% end %>
    </li>
    <% end %>
</ul>
</nav>


<%= yield %>
<%= yield :scripts %>

</body>
</html>
